# Managed by server-monitor. Regenerate using install.sh.
[global_tags]
  server_id = @@SERVER_ID@@

[agent]
  interval = @@INTERVAL@@
  round_interval = true
  flush_interval = @@FLUSH_INTERVAL@@
  flush_jitter = "0s"
  metric_batch_size = 1000
  metric_buffer_limit = 10000
  debug = false
  quiet = false
  logfile = ""
  omit_hostname = false

[[inputs.cpu]]
  percpu = false
  totalcpu = true
  collect_cpu_time = false
  report_active = true
  fieldinclude = ["usage_active", "usage_iowait", "usage_steal"]

[[inputs.mem]]
  fieldinclude = ["total", "available"]

[[inputs.swap]]
  fieldinclude = ["total", "used"]

[[inputs.disk]]
  ignore_fs = ["tmpfs", "devtmpfs", "devfs", "overlay", "aufs", "squashfs", "proc", "sysfs", "cgroup", "cgroup2", "debugfs", "tracefs", "securityfs", "pstore", "efivarfs", "fusectl", "configfs", "hugetlbfs", "mqueue", "nsfs", "autofs", "rpc_pipefs"]
  fieldinclude = ["total", "free", "used", "used_percent", "inodes_total", "inodes_free"]

[[inputs.diskio]]
  skip_serial_number = true
  fieldinclude = ["reads", "writes", "read_bytes", "write_bytes", "io_time"]
  [inputs.diskio.tagdrop]
    name = ["loop*", "ram*", "fd*"]

[[inputs.net]]
  interfaces = @@INTERFACES@@
  fieldinclude = ["bytes_recv", "bytes_sent", "err_in", "err_out", "drop_in", "drop_out"]
  [inputs.net.tagdrop]
    interface = ["all", "lo"]

[[inputs.system]]
  fieldinclude = ["load1", "load5", "load15", "n_cpus", "uptime"]

@@DOCKER_INPUT@@

[[outputs.exec]]
  command = ["/usr/bin/python3", @@SENDER@@, "--url", @@URL@@]
  timeout = "12s"
  data_format = "json"
  json_timestamp_units = "1s"
  use_batch_format = true
